<div class="content-wrapper blog-position">
	<section class="content">
        <div class="blog-list blog-one">
            <h3 class="b-title">{{entries.title}}</h3>
            <p class="postdate">发布时间：{{timeFromNow entries.meta.createAt}}({{formatDate entries.meta.createAt}})
                <span>作者：{{entries.author.username}}</span>
            </p>
            <div class="blog-list-ctn">{{{entries.content}}}</div>
        </div>
        <!--<div class="menu-block read-back"><a href="/p/blogs" class="btn btn-primary btn-sm pull-left">返回</a></div>-->
	</section>
    <section class="comments">
        <h2>评论区</h2>
        <ul class="comment-list">
            {{#each comments}}
            <li>
                <a href="#respond" data-toggle="select" data-cid="{{_id}}" data-tid="{{from._id}}">
                    <img src="/img/user.png">
                </a>
                <div class="comment-body">
                    <h4>{{from.username}}</h4>
                    <p>{{{content}}}</p>
                </div>
                <ul>
                    {{#if reply}}
                        {{#each reply}}
                            <li>
                                <a href="#respond" data-toggle="select" data-cid="{{commentId}}" data-tid="{{from._id}}">
                                    <img src="/img/user.png">
                                </a>
                                <div class="comment-body">
                                    <h4>{{from.username}}回复{{to.username}}</h4>
                                    <p>{{{content}}}</p>
                                </div>
                            </li>
                        {{/each}}
                    {{/if}}
                </ul>

            </li>
            {{/each}}
        </ul>

        <div id="respond" class="comment-respond">
            <form id="commentForm" action="">
                <div class="res-body">
                    <input type="hidden" id="news" value="{{entries._id}}">
                    <textarea class="textarea" id="resContent" placeholder="评论内容" style="width: 100%; height: 300px; font-size: 14px; line-height: 18px; border: 1px solid #dddddd; padding: 10px;" required></textarea>
                    <button type="submit" class="btn btn-primary" id="respondBtn">发表</button>
                </div>
            </form>
        </div>
    </section>
</div>

<script src="/blog/comment.js"></script>