<div class="content-wrapper blog-position">
	<section class="content">
        <div class="blog-list blog-one">
            <h3 class="b-title">{{entries.title}}</h3>
            <p class="postdate">发布时间：{{timeFromNow entries.meta.createAt}}({{formatDate entries.meta.createAt}})
                <span>作者：{{entries.author.username}}</span>
            </p>
            <div class="blog-list-ctn">{{{entries.content}}}</div>
        </div>
        <!--<div class="menu-block read-back"><a href="/p/blogs" class="btn btn-primary btn-sm pull-left">返回</a></div>-->
	</section>
    <section class="comments panel panel-default">
        <div class="panel-heading">
            <h2 class="comments-title">评论区</h2>
        </div>
        <div class="panel-body">
            <ul class="comment-list media-list">
                {{#each comments}}
                    <li class="media comment-big">
                        <a class="pull-left" href="#respond" data-toggle="select" data-cid="{{_id}}" data-tid="{{from._id}}">
                                <img src="{{from.userImg}}">
                        </a>
                        <div class="media-body comment-ctn">
                            <h4 class="media-heading">{{from.username}}</h4>
                            <span class="pull-right">第{{addOne @index}}楼</span>
                            <p>{{{content}}}</p>
                            <ul class="media-list">
                                {{#if reply}}
                                    {{#each reply}}
                                        <li class="media">
                                            <a class="pull-left" href="#respond" data-toggle="select" data-cid="{{commentId}}" data-tid="{{from._id}}">
                                                <img src="{{from.userImg}}">
                                            </a>
                                            <div class="media-body">
                                                <h4 class="media-heading">{{from.username}}回复{{to.username}}</h4>
                                                <p>{{{content}}}</p>
                                            </div>
                                        </li>
                                    {{/each}}
                                {{/if}}
                            </ul>
                        </div>
                    </li>
                {{/each}}
            </ul>
        </div>


        <div id="respond" class="comment-respond">
            <form id="commentForm" action="">
                <div class="res-body">
                    <input type="hidden" id="news" value="{{entries._id}}">
                    <textarea class="textarea" id="resContent" placeholder="评论内容" style="height: 300px; font-size: 14px; line-height: 18px; border: 1px solid #dddddd; padding: 10px;" required></textarea>
                    <button type="submit" class="btn btn-primary" id="respondBtn">发表</button>
                </div>
            </form>
        </div>
    </section>
</div>

<script src="/blog/comment.js"></script>