<div class="content-wrapper">
    <section class="content-header">
        <h1>{{title}}：{{count}}</h1>
    </section>
	<section class="content">
		{{#each entries}}
			<div class="blog-list border-dash">
                <a href="/p/{{_id}}">
                    <p class="title">{{title}}</p>
                </a>
                <p class="postdate">发布时间：{{timeFromNow meta.createAt}}({{formatDate meta.createAt}})
                    <span>作者：{{author.username}} &nbsp; &nbsp;类别：{{category.name}}</span>
                </p>
                <dl>
                    <dt>
                        <a href="/p/{{_id}}"><img src="{{newThumb}}" ></a>
                    </dt>
                    <dd>
                        <div class="blog-list-ctns">{{{content}}}</div>
                        <div class="menu-block read-more"><a href="/p/{{_id}}" class="btn btn-primary btn-md pull-right">阅读全文</a></div>
                        <div class="menu-block ctn-export"><a href="/pdf/{{_id}}" class="btn btn-primary btn-md pull-right">导出pdf</a></div>
                    </dd>
                </dl>
			</div>
		{{/each}}
		<div class="box-footer">
			<nav>
				<ul class="pagination">
					<li>
						<a href="{{#le pageNumber 1}}?{{else}}?page={{reduce pageNumber 1}}{{/le}}"
						   aria-label="Previous">
							<span aria-hidden="true">&laquo;</span>
						</a>
					</li>
					{{#times pageCount 1 pageCount}}
						<li {{#equals pageNumber this.step}}class="active" {{/equals}}>
							<a href="?page={{step}}{{#if recommend}}&recommend={{recommend}}{{/if}}{{#if type}}&type={{type}}{{/if}}">{{step}}</a>
						</li>
					{{/times}}
					<li>
						<a href="{{#ge pageNumber pageCount}}?page={{pageCount}}{{else}}?page={{add pageNumber 1}}{{/ge}}"
						   aria-label="Previous">
							<span aria-hidden="true">&raquo;</span>
						</a>
					</li>
				</ul>
			</nav>
		</div>
	</section>
</div>

<script src="/blog/blogs.js"></script>