<div class="content-wrapper">
	<section class="content">
		{{#each entries}}
			<div class="blog-list">
				<figure>
					<img src="/img/login.png">
				</figure>
				<ul>
					<h3>{{title}}</h3>
					<p>{{content}}</p>
					<span class="postdate">
						<b>{{timeFromNow meta.createAt}}({{formatDate meta.createAt}})</b>
					</span>
					<div class="menu-block"><a href="/p/{{_id}}" class="btn btn-primary btn-sm">更多</a></div>
					<div class="menu-block"><a href="/pdf/{{_id}}" class="btn btn-primary btn-sm pull-right">导出pdf</a></div>
				</ul>

			</div>
		{{/each}}
		<div class="box-footer">
			<nav>
				<ul class="pagination">
					<li>
						<a href="{{#le pageNumber 1}}?{{else}}?page={{reduce pageNumber 1}}{{/le}}"
						   aria-label="Previous">
							<span aria-hidden="true">&laquo;</span>
						</a>
					</li>
					{{#times pageCount 1 pageCount}}
						<li {{#equals pageNumber this.step}}class="active" {{/equals}}>
							<a href="?page={{step}}{{#if recommend}}&recommend={{recommend}}{{/if}}{{#if type}}&type={{type}}{{/if}}">{{step}}</a>
						</li>
					{{/times}}
					<li>
						<a href="{{#ge pageNumber pageCount}}?page={{pageCount}}{{else}}?page={{add pageNumber 1}}{{/ge}}"
						   aria-label="Previous">
							<span aria-hidden="true">&raquo;</span>
						</a>
					</li>
				</ul>
			</nav>
		</div>
	</section>
</div>

<script src="/blog/blog.js"></script>