<div class="blog-pdf">
	<section class="content">
			<div class="blog-list">
				<figure>
					<img src="/img/login.png">
				</figure>
				<ul>
					<h3>{{entries.title}}</h3>
					<p>{{entries.content}}</p>
					<span class="postdate">
						<b>{{timeFromNow entries.meta.createAt}}({{formatDate entries.meta.createAt}})</b>
					</span>
					<div class="menu-block"><a href="/pdf/{{_id}}" class="btn btn-primary btn-sm pull-right">导出pdf</a></div>
				</ul>

			</div>
	</section>
</div>